.mw-75 {
  width: 75%;
  max-width: 75%;
}
.mw-50 {
  width: 50%;
  max-width: 50%;
}
.mw-40 {
  width: 40%;
  max-width: 40%;
}
.mw-35 {
  width: 35%;
  max-width: 35%;
}
.mw-25 {
  width: 25%;
  max-width: 25%;
}
.popover-body {
  font-size: 1em;
}
